body {
	color: 	#000000;
	background: #ebeff5;
	font-family: 'Roboto', sans-serif;
}

.container {

}

.row .col .col-md {
	padding : 20px;
}

#awaiting-rescue .card-header{
	background: #dc3545;
}

#ongoing-rescue .card-header{
	background: #28a745;
}
