{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- CSS,JSS,BOOTSTRAP CDN only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/inquiry.css' %}">
  <title>Tulong</title>
</head>
<body>

  <div class="signup-form">
    <form method="POST">
      {% csrf_token %}
		<h2>Ask Help</h2>
		<p class="hint-text"> Tell us your details </p>
      <div class="form-group">

        <div class="form-group">
            {{ form.name }}
        </div>

        <div class="form-group">
              {{ form.disaster }}
        </div>


        <div class="form-group">
            {{ form.location }}
        </div>

        <div class="form-group">
          {{ form.total }}
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col">
              {{ form.children }}
            </div>
            <div class="col">
              {{ form.senior }}
            </div>
          </div>
        </div>

        <div class="form-group">
          {{ form.message }}
        </div>

        <div class="form-group">
          {{ form.status }}
        </div>

        <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
            </div>
      </div>
    </form>

</body>
</html>
